Repository zarr-developers/VirtualiZarr, pull requests merged in 2025-01, with the labels that each got.

#368 Sync with icechunk alpha 8
  ci/upstream.yml
  docs/releases.rst
  docs/usage.md
  pyproject.toml
  virtualizarr/accessor.py
  virtualizarr/tests/test_writers/test_icechunk.py
  virtualizarr/writers/icechunk.py
Labels: enhancement, dependencies, Icechunk :ice_cube:

#363 Test FITS reader on Hubble Space Telescope data
  docs/releases.rst
  virtualizarr/readers/fits.py
  virtualizarr/tests/__init__.py
  virtualizarr/tests/test_backend.py
  virtualizarr/tests/test_readers/test_dmrpp.py
  virtualizarr/tests/test_readers/test_fits.py
Labels: testing, readers

#380 Fix hdf typing
  virtualizarr/readers/hdf/hdf.py
Labels: typing, HDF reader

#366 Fix subgroup dims in HDF reader
  docs/releases.rst
  virtualizarr/readers/hdf/hdf.py
  virtualizarr/tests/test_readers/test_hdf/test_hdf.py
Labels: HDF reader

#383 Add `group` option to `dataset_to_icechunk`
  .pre-commit-config.yaml
  docs/releases.rst
  pyproject.toml
  virtualizarr/tests/test_readers/conftest.py
  virtualizarr/tests/test_writers/test_icechunk.py
  virtualizarr/writers/icechunk.py
Labels: Icechunk :ice_cube:

#384 Silence pip root user warnings in CI
  .github/workflows/main.yml
  .github/workflows/min-deps.yml
  .github/workflows/release.yml
  .github/workflows/typing.yml
  .github/workflows/upstream.yml
Labels: CI

#388 Ignore conftest.py in code coverage
  .github/codecov.yml
  .github/workflows/main.yml
  .github/workflows/min-deps.yml
  .github/workflows/upstream.yml
  ci/environment.yml
  ci/min-deps.yml
  ci/upstream.yml
  docs/contributing.md
  pyproject.toml
Labels: CI

#398 Skip tests that often take ages in the CI
  virtualizarr/tests/test_backend.py
Labels: CI, testing

#334 Updated docs for loading variables
  docs/usage.md
Labels: documentation

#397 Vendor kerchunk netCDF3 reader
  docs/releases.rst
  virtualizarr/readers/netcdf3.py
  virtualizarr/tests/test_readers/conftest.py
  virtualizarr/tests/test_readers/test_netcdf3.py
  virtualizarr/vendor/kerchunk/LICENSE.txt
  virtualizarr/vendor/kerchunk/__init__.py
  virtualizarr/vendor/kerchunk/netCDF3.py
  virtualizarr/vendor/kerchunk/utils.py
Labels: Kerchunk, dependencies, internals, readers, v3-migration

#395 Switch to custom netcdf4/hdf5 backend
  docs/releases.rst
  virtualizarr/backend.py
  virtualizarr/readers/hdf/hdf.py
  virtualizarr/tests/__init__.py
  virtualizarr/tests/test_backend.py
  virtualizarr/tests/test_integration.py
  virtualizarr/tests/test_readers/test_hdf/test_hdf.py
  virtualizarr/tests/test_xarray.py
Labels: Kerchunk, testing, dependencies, v3-migration

#406 Update to zarr 3 and main kerchunk
  ci/upstream.yml
  pyproject.toml
  virtualizarr/codecs.py
  virtualizarr/tests/__init__.py
  virtualizarr/tests/test_codecs.py
  virtualizarr/tests/test_integration.py
  virtualizarr/tests/test_readers/test_hdf/test_hdf_integration.py
  virtualizarr/tests/test_readers/test_kerchunk.py
  virtualizarr/tests/test_writers/test_kerchunk.py
  virtualizarr/tests/test_writers/test_zarr.py
  virtualizarr/writers/icechunk.py
  virtualizarr/zarr.py
Labels: zarr-python, Kerchunk, dependencies, Icechunk :ice_cube:, v3-migration
