Repository zarr-developers/VirtualiZarr, pull requests merged in 2025-08, with the labels that each got.

#741 Adds Mkdocs alternatate tabs to show multiple store configurations on Usage.md
  docs/migration_guide.md
  docs/usage.md
Labels: documentation

#766 Include serializer from ManifestStore in Icechunk virtual references
  docs/releases.md
  virtualizarr/manifests/store.py
  virtualizarr/tests/test_writers/test_icechunk.py
  virtualizarr/writers/icechunk.py
Labels: Icechunk :ice_cube:

#769 Extract endianness from Bytes codec in V2 metadata conversion
  docs/releases.md
  virtualizarr/tests/test_writers/test_kerchunk.py
  virtualizarr/utils.py
Labels: Kerchunk, references generation

#777 v2.1.0 release notes
  docs/releases.md
Labels: releases
