Repository zarr-developers/VirtualiZarr, pull requests merged in 2025-05, with the labels that each got.

#580 Docs on how to write a custom reader using ManifestStore
  docs/custom_readers.md
  docs/data_structures.md
  docs/faq.md
  docs/index.md
  docs/releases.rst
  docs/usage.md
Labels: documentation

#587 Add note that homogeneous dtypes are required
  docs/faq.md
Labels: documentation

#588 Fix coords roundtrip bug
  docs/releases.rst
  virtualizarr/accessor.py
  virtualizarr/tests/test_writers/test_icechunk.py
  virtualizarr/writers/icechunk.py
Labels: Icechunk :ice_cube:

#597 Fix failing upstream test from numcodecs changes
  virtualizarr/tests/test_readers/test_hdf/test_hdf_filters.py
Labels: test-upstream
